.example-container {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  text-align: center;
}

textarea {
  min-height: 100px;
}

.app-icon {
  padding: 0 14px;
}

mat-toolbar-row.app-title {
  justify-content: center;
}

mat-form-field { 
  margin-bottom: 3%;
}

.footer-bttn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}