<div class="example-container">

  <mat-toolbar>
    <mat-toolbar-row class="app-title">
        <span> Recuerda.ME </span>
        <mat-icon class="app-icon" svgIcon="event">event</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-form-field>
    <textarea matInput [(ngModel)]="message" required placeholder="Mensaje que quieres que te enviemos"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email al que quieres que te llegue el recordatorio" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="Tipo de repeticion">
      <mat-option>No se repite</mat-option>
      <mat-option value="option1">diario</mat-option>
      <mat-option value="option2">semanal</mat-option>
      <mat-option value="option3">mensual</mat-option>
      <mat-option value="option3">anual</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="footer-bttn">
    <button mat-stroked-button (click)="saveReminder($event)" [disabled]="!isdataCorrect()" color="primary">Programar recordatorio</button>
  </div>

</div>

<app-footer></app-footer>